/*
 * GOOGLE FONTS
 * =======================================
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');

/*
 * RESET STYLES
 * =======================================
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*
 * PAGE STYLES
 * =======================================
*/
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.797), rgba(0, 0, 0, 0.852)), url('/img/Ruleta-02.webp');
    background-repeat: no-repeat;
    background-size:  100vw 100vh;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    text-align: center;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(222, 6, 6);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    margin: 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.311);
    border-radius: 20px;
    line-height: 1.8rem;
}

.insert-information {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: .5rem;
    max-width: 500px;
}

.input-bet {
    min-height: 30px;
    border-radius: 20px;
    border: none;
    padding: 3px 10px;
}

.btn {
    background-color: red;
    border-radius: 20px;
    font-size: clamp(0.938rem, 0.729rem + 0.926vw, 1.563rem);
    padding: 5px 20px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
}

.txt-apuesta {
    color: red;
    font-weight: 700;
}

.section-title,
.container-capture-data,
.bets-table {
    padding: 0 2rem;
}

._error:focus-within {
    border: .2rem solid red;
    outline: none;
}

/*
 *
 * TABLE FOR BETS
 * ======================================
 */
.bets-table {
    display: flex;
    margin: 1.5rem auto;
    overflow-y: auto;
}

table {
    margin: auto;
    background-color: rgb(73 105 122 / 38%);
    backdrop-filter: blur(10px);
    box-shadow: 2px 16px 60px 2px rgb(255 255 255 / 25%);
}

th,
td {
    padding: .2rem .4rem;
    border: 1px solid red;
    font-weight: 300;
    font-size: clamp(0.875rem, 0.792rem + 0.37vw, 1.125rem);
}

.green {
    color: green;
}

.container-loader {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100vh;
    background: #0000006b;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -2rem;
}

._hidden {
    display: none;
}

.loading {
    width: 20%;
    max-width: 10rem;
}
